{<<"links">>,
 [{<<"GitHub">>,<<"https://github.com/tommeier/ecto_rollback_guard">>}]}.
{<<"name">>,<<"ecto_rollback_guard">>}.
{<<"version">>,<<"0.1.0">>}.
{<<"description">>,
 <<"Detect destructive operations before rolling back Ecto migrations.">>}.
{<<"elixir">>,<<"~> 1.14">>}.
{<<"files">>,
 [<<"lib">>,<<"lib/mix">>,<<"lib/mix/tasks">>,
  <<"lib/mix/tasks/ecto_rollback_guard.preview.ex">>,
  <<"lib/ecto_rollback_guard">>,<<"lib/ecto_rollback_guard/reporter.ex">>,
  <<"lib/ecto_rollback_guard/preview.ex">>,
  <<"lib/ecto_rollback_guard/detector.ex">>,
  <<"lib/ecto_rollback_guard/impact.ex">>,
  <<"lib/ecto_rollback_guard/enricher.ex">>,<<"lib/ecto_rollback_guard.ex">>,
  <<".formatter.exs">>,<<"mix.exs">>,<<"README.md">>,<<"LICENSE">>,
  <<"CHANGELOG.md">>]}.
{<<"app">>,<<"ecto_rollback_guard">>}.
{<<"licenses">>,[<<"MIT">>]}.
{<<"requirements">>,
 [[{<<"name">>,<<"ecto_sql">>},
   {<<"app">>,<<"ecto_sql">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 3.10">>},
   {<<"repository">>,<<"hexpm">>}],
  [{<<"name">>,<<"jason">>},
   {<<"app">>,<<"jason">>},
   {<<"optional">>,false},
   {<<"requirement">>,<<"~> 1.4">>},
   {<<"repository">>,<<"hexpm">>}]]}.
{<<"build_tools">>,[<<"mix">>]}.
